body {
  font-family: "Merriweather Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  min-height: 100vh;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
.MuiPaper-root {
  background-color: #3ab99b !important;
}
*/

.MuiAppBar-colorPrimary {
  background-color: #3ab99b !important;
}

cg-board {
  cursor: default !important;
}
